canvas {
  border: 1px solid black;
  border-radius: 6px;
  background-color: #eee;
  display: block;
  margin: 0 auto;
}

html {
  background-color: #eee;
  font-family: sans-serif;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}
.texts {
  display: flex;
  justify-content: space-between;
}